:root {
    --background: #faf4ed;
    --foreground: #f2e9e1;
    --text: #575279;
    --textprint: #4d4d4d;
    --shadow: 2px 2px 6px rgba(60, 0, 0, 0.1);
}

@font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/RobotoMono-Medium.ttf");
}

body {
    font-family: "RobotoMono", monospace;
    background-color: var(--background);
    color: var(--text);
}

.noprint .title {
    font-size: 4rem;
    text-align: center;
}

.noprint .search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#generate,
#print {
    margin: 1rem;
    padding: 8px;
    font-size: 1.1rem;
    border: 2px solid var(--text);
    color: var(--text);
    background-color: transparent;

    &:hover {
        color: var(--background);
        background-color: var(--text);
        cursor: pointer;
    }
}

#print {
    display: none;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 5rem;
    margin: auto;
    max-width: 100ch;
}

.card {
    position: relative;
    background-color: var(--foreground);
    border: 1px solid var(--text);
    font-size: 0.6rem;
    width: 12rem;
    aspect-ratio: 2 / 3;
    padding: 1ch;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18ch;
}

.type {
    margin-bottom: 2ch;
}

.color {
    position: absolute;
    bottom: 1ch;
}

.stats {
    position: absolute;
    bottom: 1ch;
    right: 2ch;
}

@media print {
    body {
        margin: 0;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .content {
        grid-template-columns: autofill;
        gap: 1 rem;
        margin: 0;
        padding: 0;
    }

    .noprint {
        display: none;
    }

    .card {
        background-color: white;
        color: var(--textprint);
        border: 1px dashed var(--textprint);
        break-inside: avoid;
    }
}